#### Title: Classifying Red Wine Quality - Group 21

#### Introduction

Provide some relevant background information on the topic so that someone unfamiliar with it will be prepared to understand the rest of your proposal
Clearly state the question you will try to answer with your project
Identify and describe the dataset that will be used to answer the question

#### Preliminary exploratory data analysis

In [5]:
library(tidyverse)
options(repr.matrix.max.rows = 10)

In [15]:
red_wine <- read_csv("data/winequality-red.csv")|>
    mutate(quality = as_factor(quality))
colnames(red_wine) <- make.names(colnames(red_wine))
red_wine

Rows: 1599 Columns: 12
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (12): fixed acidity, volatile acidity, citric acid, residual sugar, chlo...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

     fixed.acidity volatile.acidity citric.acid residual.sugar chlorides
1     7.4          0.70             0.00        1.9            0.076
2     7.8          0.88             0.00        2.6            0.098
3     7.8          0.76             0.04        2.3            0.092
4    11.2          0.28             0.56        1.9            0.075
5     7.4          0.70             0.00        1.9            0.076
⋮    ⋮             ⋮                ⋮           ⋮              ⋮
1595 6.2           0.600            0.08        2.0            0.090
1596 5.9           0.550            0.10        2.2            0.062
1597 6.3           0.510            0.13        2.3            0.076
1598 5.9           0.645            0.12        2.0            0.075
1599 6.0           0.310            0.47        3.6            0.067
     free.sulfur.dioxide total.sulfur.dioxide density pH   sulphates alcohol
1    11                  34                   0.9978  3.51 0.56      9.4
2    25                  67                   0.9968  3.20 0.68      9.8
3    15                  54                   0.9970  3.26 0.65      9.8
4    17                  60                   0.9980  3.16 0.58      9.8
5    11                  34                   0.9978  3.51 0.56      9.4
⋮    ⋮                   ⋮                    ⋮       ⋮    ⋮         ⋮
1595 32                  44                   0.99490 3.45 0.58      10.5
1596 39                  51                   0.99512 3.52 0.76      11.2
1597 29                  40                   0.99574 3.42 0.75      11.0
1598 32                  44                   0.99547 3.57 0.71      10.2
1599 18                  42                   0.99549 3.39 0.66      11.0
     quality
1    5
2    5
3    5
4    6
5    5
⋮    ⋮
1595 5
1596 6
1597 6
1598 5
1599 6

In [16]:
red_wine_quality_count <- red_wine |>
    group_by(quality) |>
    summarize(count = n())

red_wine_quality_count

  quality count
1 3        10
2 4        53
3 5       681
4 6       638
5 7       199
6 8        18

#### Methods

Explain and descibe visual analysis.

#### Expected Outcomes & Significance

Expected findings, impacts, future questions.