#### Title: Classifying Red Wine Quality - Group 21

#### Introduction

"Vinho Verde" is a Portuguese wine which has three main variants, of which we will be considering red. In the kaggle dataset we are using from UCI Machine Learning, its quality is affected by 11 different physiochemical variables, such as acidity, chlorides, density, etc.. These 11 variables determine the quality of the wine, on a scale from 0-10. For the purpose of the classification task, we will be defining "good" quality wine as wine with a rating from 6-10, and anything below as "bad" quality. 

The question we will try to answer with our analysis is as follows: Which classification of vinho verde quality is a particular wine likely to be based on a range of physicochemical predictor variables?

#### Preliminary exploratory data analysis

Below, we demonstrate the readability of our chosen dataset. For convenience in future data analysis, we remove the spaces between the column names with the make.names() function. From the tibble below, we can see that each row contains a single observation and each column is one variable, each cell containing a single value.

In [2]:
library(tidyverse)
options(repr.matrix.max.rows = 6)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [3]:
red_wine <- read_csv("data/winequality-red.csv")|>
    mutate(quality = as_factor(quality))
colnames(red_wine) <- make.names(colnames(red_wine))
red_wine

Rows: 1599 Columns: 12
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (12): fixed acidity, volatile acidity, citric acid, residual sugar, chlo...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

     fixed.acidity volatile.acidity citric.acid residual.sugar chlorides
1    7.4           0.70             0.00        1.9            0.076
2    7.8           0.88             0.00        2.6            0.098
3    7.8           0.76             0.04        2.3            0.092
⋮    ⋮             ⋮                ⋮           ⋮              ⋮
1597 6.3           0.510            0.13        2.3            0.076
1598 5.9           0.645            0.12        2.0            0.075
1599 6.0           0.310            0.47        3.6            0.067
     free.sulfur.dioxide total.sulfur.dioxide density pH   sulphates alcohol
1    11                  34                   0.9978  3.51 0.56      9.4
2    25                  67                   0.9968  3.20 0.68      9.8
3    15                  54                   0.9970  3.26 0.65      9.8
⋮    ⋮                   ⋮                    ⋮       ⋮    ⋮         ⋮
1597 29                  40                   0.99574 3.42 0.75      11.0
1598 32                  44                   0.99547 3.57 0.71      10.2
1599 18                  42                   0.99549 3.39 0.66      11.0
     quality
1    5
2    5
3    5
⋮    ⋮
1597 6
1598 5
1599 6

In [16]:
red_wine_quality_count <- red_wine |>
    group_by(quality) |>
    summarize(count = n())

red_wine_quality_count

  quality count
1 3        10
2 4        53
3 5       681
4 6       638
5 7       199
6 8        18

#### Methods

Explain and descibe visual analysis.

#### Expected Outcomes & Significance

Expected findings, impacts, future questions.

:)